@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");
:root{
    --cor-de-fundo: #EBECEE;
    --cor-branca: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: #002F52;
    --fonte-principal: "Poppins";
}

.cabecalho {
    font-family: var(--fonte-principal), sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal), sans-serif;
    font-size: 16px;
    font-weight: 400;
}

* {
    font-family: "Poppins", sans-serif;

}


