@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");
@import url("./styles/carrossel2.css");
@import url("./styles/contato.css");
@import url("./styles/footer.css");

:root{
    --cor-de-fundo: #EBECEE;
    --cor-branca: #FFFFFF;
    --laranja: #070605;
    --azul-degrade: #002F52;
    --fonte-principal: "Poppins";
    --azul-degra: linear-gradient(97.54deg, #002F52 35.49%, #1b679e 165.37%);
    --branco-rodape: rgba(249, 249, 249, 1);
    --fonte-secundaria: "Josefin Sans";
    --preto: rgba(0, 0, 0, 1);
    --cinza: rgba(71, 70, 70, 1);
    --cinza-titulo: rgba(133, 133, 133, 1);
    --laranja: rgba(235, 155, 0, 1);


}

.cabecalho {
    font-family: var(--fonte-principal), sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal), sans-serif;
    font-size: 16px;
    font-weight: 400;
}

* {
    font-family: "Poppins", sans-serif;

}


